<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects Page</title>
    </head>
    <body>
        {{> header}}

        <p>Placeholder page for upcoming projects.</p>

    </body>

<!--Use the footer partial that is in the registered partial path-->
    {{> footer}}
</html>